@import url('https://fonts.cdnfonts.com/css/arcade-classic');
body {
    font-family: 'ArcadeClassic', sans-serif;
    margin: 0;
    height: 100%;
    background-color: black;
}

#root {
    height: 100%;
}

.background {
    width: 100%;
    height: 95vh;
    color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.background::after {
    content: "";
    background: url("images/onboarding/grass-sprite-big.png");
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.title {
    font-size: 72px;
}

.shopBottomBar {
    margin-top: 30px;
    text-align: center;
}

.shopBottomBarButton {
    text-align: center;
    color: white;
    background-color: gray;
    font-size: 72px;
    width: 288px;
    font-family: 'ArcadeClassic', sans-serif;
}

.startButton {
    background-color: #FFA7A7;
    height: 72px;
    width: 288px;
    font-size: 36px;
    font-family: 'ArcadeClassic', sans-serif;
}

.confirmButton {
    background-color: palegreen;
    height: 48px;
    width: 288px;
    font-size: 36px;
    font-family: 'ArcadeClassic', sans-serif;
    margin: 20px;
}

.mapSearchItemCheckbox {
    margin-right: 10px;
}

a {
    color: inherit;
    text-decoration: none;
}

.onboardingChickadee {
    background: url("images/onboarding/chickadee-big.png");
    width: 222px;
    height: 240px;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    right: 35vw;
}

.onboardingTextbox {
    background: url("images/onboarding/textbox-big.png");
    width: 300px;
    height: 520px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 180px;
    right: 0 auto;
}

.onboardingText {
    margin: 30px;
    text-align: right;
    font-size: 28px;
}

.onboardingNext {
    font-size: 24px;
    text-align: right;
    margin-right: 30px;
    color: grey;
}

.onboardingBirdhouse {
    background: url("images/onboarding/birdhouse-glow.png");
    background-repeat: no-repeat;
    margin-left: 100px;
    margin-bottom: 10px;
    height: 120px;
    background-size: contain;
    background-position: center center;
    width: 100px;
    animation: shake 2s;
    animation-iteration-count: infinite;
}

#map {
    height: 60vh;
}

.mapBackground {
    background-color: #C4C4C4;
    width: 100vw;
    margin: 0;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 44px;
}

.mapHeader {
    background-color: white;
    font-size: 32px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.mapSearchInput {
    margin-top: 34px;
    font-family: 'ArcadeClassic', sans-serif;
    font-size: 42px;
    text-align: center;
    width: 90vw;
}

.mapSearchInput:focus {
    outline: none;
}

.mapSearchInput::placeholder {
    font-family: 'ArcadeClassic', sans-serif;
    font-size: 42px;
}

.mapSearchItem {
    font-size: 20px;
    margin-left: 5vw;
    height: 40px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.mapSearchList {
    margin-bottom: 0;
}

.slidingCloudBackgound {
    background: url("images/park/BACKING-large.png") repeat-x;
    position: fixed;
    top: 10vh;
    left: 0;
    height: 800px;
    width: 300%;
    animation: slide 60s linear infinite;
}

.parkBottomBar {
    z-index: 99;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    width: 96vw;
    margin: 2vw;
    align-items: baseline;
}

.imgBot {
    height: 15vh;
}

.imgTop {
    height: 15vh;
}

.parkCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    text-align: center;
}

.parkCard .imgTop {
    display: none;
    z-index: 99;
}

.parkCard:hover .imgBot {
    display: none;
}

.parkCard:hover .imgTop {
    display: block;
}

.inv {
    z-index: 3;
}

.invText {
    z-index: 3;
}

.store {
    z-index: 3;
}

.storeText {
    z-index: 3;
}

.tree {
    position: fixed;
    /* Set up positioning */
    z-index: 1;
    top: 28vh;
    left: 50vw;
}

.bar {
    z-index: 4;
}

.bush {
    position: fixed;
    z-index: 3;
    top: 60vh;
    left: 35vw;
}

.bench {
    position: fixed;
    z-index: 4;
    top: 65vh;
    left: 20vw;
}

.parkTrees {
    min-height: 100%;
    min-width: 1024px;
    z-index: 2;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-1578px, 0, 0);
    }
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(-2deg);
    }
    20% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(2deg);
    }
    40% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-2deg);
    }
    60% {
        transform: rotate(0deg);
    }
    70% {
        transform: rotate(2deg);
    }
    80% {
        transform: rotate(0deg);
    }
    90% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.shop,
.itemOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.items {
    width: 43vw;
    height: 25vw;
    margin-top: 10vh;
    margin-left: 27vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.shopContainer {
    width: 100vw;
    height: 80vh;
    position: relative;
}

.shop {
    object-fit: cover;
}

.item {
    margin-top: 4vh;
    flex: 1 0 25%;
    height: 18vh;
    transition: transform .2s;
    object-fit: contain;
}

.item:hover {
    transform: scale(1.5);
}

.shelf {
    overflow: scroll;
    z-index: 2;
    /* Set up proportionate scaling */
    width: 100%;
    height: 100%;
    /* Set up positioning */
    position: relative;
    top: 0;
    left: 0;
}

.title {
    color: white;
}

.parkHeader {
    text-align: center;
    font-size: 60px;
    background-color: black;
    color: white;
    width: 100%;
    height: 70px;
    margin-top: 15px;
    position: fixed;
    z-index: 0;
}

.parkBottomHeader {
    text-align: center;
    font-size: 28px;
    color: white;
    width: 100%;
    height: 28px;
    margin-top: 10px;
}